.footer {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}

.socials {
  display: flex;
  gap: 1rem;
}
